services:

  # Nginx
  nginx:
    image: nginx:latest
    container_name: ljweel-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./public:/usr/share/nginx/html
      - ./nginx/cert.pem:/etc/ssl/cert.pem
      - ./nginx/priv.key:/etc/ssl/priv.key
    restart: always

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-tunnel
    restart: always
    profiles:
      - tunnel
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
    command: tunnel run
