{% extends "base.html" %}

{% load static %}
{% block title %}ljweel.dev{% endblock %}

{% block content %}
<section style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 70vh; text-align: center;">
    <article style="border-radius: 50%; width: 150px; height: 150px; overflow: hidden; padding: 0;">
        <img src="{% static 'posts/images/profile.jpg' %}" alt="Profile" style="width: 100%; height: 100%; object-fit: cover;">
    </article>

    <hgroup>
        <h2>이정우, Lee JeongWoo - ljweel</h2>
        <p>Backend Developer · Python · Django</p>
    </hgroup>
    
    <p>웹 개발, 파이썬, 장고에 관심을 갖고 있는 사람입니다.</p>
    
    <a href="https://github.com/..." class="secondary">GitHub</a>
</section>
{% endblock %}