{% extends "base.html" %}

{% block title %}블로그 목록{% endblock %}


{% block content %}
<main class="container">
    <h1>최신 글</h1>

    {% if latest_post_list %}
        {% for post in latest_post_list %}
            <article>
                
                <div class="grid">
                    
                    <div>
                        <hgroup>
                            <a href="{% url 'posts:detail' post.id %}" class="contrast" style='text-decoration-line: none;'>
                                <strong>{{ post.title }}</strong>
                                <p>{{ post.content|truncatechars:100 }}</p>
                            </a>
                        </hgroup>
                        <div>category | {{ post.created_at|date:"Y.m.d H:i" }}</div>
                    </div>
                        
                    <div>
                        {# image #}
                    </div>
                        
                    </div>
            </article>
        {% endfor %}
    {% else %}
        <p>No Post</p>
    {% endif %}
</main>
{% endblock %}