html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;
}

.actions {
    display: flex;
    align-items: center;
    gap: .5rem;
}

* {
    box-sizing: border-box;
}

.main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
    padding: .75rem;
}

.left, .right {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    min-height: 0;
}


.panel {
    display: flex;
    flex-direction: column;
}

.code-panel, .output-panel{
    flex: 1;
}

.input-panel, .debug-panel{
    flex: 0 0 auto;
    min-height: 150px;
}



.panel h3 {
    margin: 0 0 5px 0;
}

textarea {
    flex: 1;
    width: 100%;
    resize: none;
}

@media (max-width: 900px) {
    .main {
        grid-template-columns:  1fr; /* 900px 이하일 때*/
  }
}
